
*{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
    overflow:hidden;
}
body{
    background-color: #1EAE61;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
}
.pictlog{
    width: 10%; 
    height: 100%;
    margin-left: 2%;
    margin-top: 3%;
}
.pictlog img{
    max-width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: left;
    margin: 0 auto;
    width: 100vw;
    align-items: center;
    height: 12vh;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.9);
}
.menu {
    float: right;
  }
.container{
    width: 90vw;
    height: 90%;
    margin-top: 3%;
    background: #FFFFFF;
    border-radius: 20px;
    align-items: center;  
    margin-bottom: 5%;
}

.libreOffice-info {
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    font-size: 1.2vw;
    }
    h2 {
    text-align: center;
    }
    p {
    text-align: justify;
    }

.footer{
    bottom: 0; 
    width: 100vw;
    min-height: 5%; 
    background-color:#FFFFFF;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.author{
    text-align: center;
    align-self: center;
    position: relative;
    display: flex;
    min-height: 5%; 
    font-size: calc(1px + 1.1vw );
    margin-top: 0.7%;
    width: 100%;
    height: auto;
    color: black;
  
    justify-content: center;
    margin-bottom: 0.6%;
}
